<div class="page">
	<div class="primary_content">
		<div class="site_title">
	    <span><%= @neighborhood %></span>
	  </div>
	  <nav class="menu">
      <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>
			<!-- users by hood -->
		<ul> 
			<% @neighborhood_pets.each do |pet| %>
			<li>
				<a href="/pets/<%= pet.pet_name %>"><h3><%= pet.pet_name %></h3></a>
				<h4><%= pet.breed %></h4>
				<img class ="pet-image" src="<%= pet.image %>">
			</li>
			<% end %>
		</ul>
	</div>
</div>



