<ul>
	<% @pet.each do |pet| %>
			<li>
				<h3><%= pet.pet_name %></h3></a>
				<h4><%= pet.animal %><h4>
				<h4><%= pet.breed %></h4>
				<img class ="pet-image" src="<%= pet.image %>">
				<div>
					<form action="/update_pet/<%= pet.pet_name %>" method = "post">
						<input type="hidden" value ="put" name="_method">
						<input type="hidden" value ="<%= pet.id %>" name="pet_id">
						<legend>Update Pet Photo</legend>
						<input type="text" placeholder="url" name="new_image"> 
						<input class = "fs" type="submit" placeholder="update">
					</form>
				</div>
				<div>
					<form action="/delete_pet" method="post">
						<legend>Delete PET?</legend>
						<input name="_method" type="hidden" value="delete" />
						<input type="hidden" value="<%= pet.id %>" name="pet_to_delete">
						<input class = "fs" type="submit" placeholder="delete">
					</form>
				</div>
			</li>
	<% end %>
</ul>
