<div class="page">
	<div class="primary_content">
	      <div class="menu">
	        <ul>
	          <li><span>01</span><a href="/users">USERS</a></li>
	          <li><span>02</span><a href="/hoods">NEIGHBORHOODS</a></li>
	          <li><span>03</span><a href="/">CONNECT</a></li>
	        </ul>
	      </div>
	<div class="profile-header">
	<h2 class= "profile-name"> <%= @current.user_name.capitalize %> </h2>
	<h2 class="profile-hood"><%= @current.neighborhood %></h2>
	<% if session[:user_id] == @current_id %>
		<div class="signup">
		<a href="/addpet"> Add a pet!</a>
		<a href="/addpost">Create a post!</a>
		<h2><a href="/delete">Delete Account!</a><h2> 
		</div>
	<% else %>
	<% end %>
	</div>
		<ul>
			<% @current_pets.each do |pet| %>
				<li>
					<a href="/pets/<%= pet.pet_name %>"><h3><%= pet.pet_name %></h3></a>
					<h4><%= pet.animal %><h4>
					<h4><%= pet.breed %></h4>
					<img class ="pet-image" src="<%= pet.image %>">
				</li>
			<% end %>
		</ul>
		<ul>
			<% @current_posts.each do |post| %>
				<li>
					<h3><%= post.body %></h3>
					<img class ="pet-image" src="<%= post.image %>">
					<p><%= post.created_at %></p>
					<% if session[:user_id] == @current_id %>
					<a href="/posts/<%= post.id %>">delete post</a>
					<% else %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>



