<h2> <%= @current.user_name %> </h2><span class="neighborhood"><h2><%= @current.neighborhood %></h2></span>


<ul>
	<% @current_pets.each do |pet| %>
		<li>
			<h3><%= pet.pet_name %></h3>
			<h4><%= pet.animal %><h4>
			<h4><%= pet.breed %></h4>
			<img class ="pet_image" src="<%= pet.image %>">
		</li>
	<% end %>
</ul>


<a href="/addpet"> Add a pet!</a>

