<div class="page">
	<div class="primary_content">
		<div class="site_title">
     	<span>Users</span>
    </div>
	  <nav class="menu">
      <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>
    	<nav class="user-alpha"> 
	      <ul>
	      	<% @alpha.each do |letter| %>
		      <li><a href="/users/<%= letter %>"><%= letter %></a></li>
		      <% end %>
	      </ul>
	    </nav>
    <div class="left">
		  <div class="list-display">
				<ul>
					<% @all_users.each do |user| %>
					<li>
						<h4><a href="/user/<%= user.user_name %>"><%= user.user_name.capitalize %></a></h4>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="sidebar">
      <aside class="hoods-aside">
        <h4>About Us</h4>
        <form>
        <select name="neighborhood" placeholder="DC Neighborhoods">
					  	<% @hoods.each do |hood| %>
					  	<option value="<%= hood %>"><%= hood.gsub(/(?<=[a-z])(?=[A-Z])/, ' ') %></option>
					  	<% end %>
					  </select>
						<br>
						<br>
					  <input type="submit">
			 		</form>
        <p>neque tale monstret optimus divitiarum nacti tempora, eorumque desideraret malunt debilitatem pariant afranius depravatum restat contemnentes honestatis.</p>
        <h5><a href="#">More...</a></h5>
        <div class="side_image">
          <img  src="http://i.imgur.com/d1cRSgA.gif">  
        </div>
      </aside>
    </div>
	</div>
</div>