<div class="page">
	<div class="primary_content">
		<div class="site_title">
     	<span>Users</span>
    </div>
	  <nav class="menu">
      <ul>
	      <li><a href="users"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/users">USERS</a></li>
	      <li><a href="/hoods"><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"></a><a href="/hoods">NEIGHBORHOODS</a></li>
	      <li><img class = "rotate" src="http://i.imgur.com/lGeudO8.png"><a href="/">CONNECT</a></li>
      </ul>
    </nav>
    <nav class="user-alpha"> 
	    <ul>
	    <% @alpha.each do |letter| %>
		    <li><a href="/users/<%= letter %>"><%= letter %></a></li>
		  <% end %>
	    </ul>
	  </nav>
	  <div class="left">
		  <div class="list-display">
				<ul>
					<% @all_users.each do |user| %>
					<% if @character.length > 1 %>
					<li><h4><a href="/user/<%= user %>"><%= user.capitalize %></a></h4></li>
					<% elsif user.initial == @character %>
					<h4><a href="/user/<%= user %>"><%= user.capitalize %></a></h4></li>
					<%end%>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="sidebar">
      <aside class="hoods-aside">
        <h4>About Us</h4>
        <p>neque tale monstret optimus divitiarum nacti tempora, eorumque desideraret malunt debilitatem pariant afranius depravatum restat contemnentes honestatis.</p>
        <h5><a href="#">More...</a></h5>
        <div class="side_image">
          <img  src="http://i.imgur.com/d1cRSgA.gif">  
        </div>
      </aside>
    </div>
	</div>
</div>